<template>
  <div>
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/HeaderComponent.vue";
import Footer from "~/components/FooterComponent.vue";

export default {
  components: {
    Header,
    Footer,
  },
};
</script>

<style>
body {
	/* padding-top: 60px; */
  background-color: rgb(226, 241, 250);
}

.card-content {
  background-color: rgb(243, 248, 252);
}

@media only screen and (min-width: 992px) {
  .container {
    width: 880px;
  }
}
</style>
