<template>
  <div>
    <!-- Footer -->
		<div style="height:150px"></div>
    <footer class="py-5 bg-info">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Editania 2021</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style>
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
</style>