<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/">
        <b-img src="~static/images/font_editania.png" height="25"> </b-img>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/" :active="checkRoute('/')">Home</b-nav-item>
          <b-nav-item to="/features" :active="checkRoute('/features')"
            >Features</b-nav-item
          >
          <b-nav-item to="/about" :active="checkRoute('/about')"
            >About</b-nav-item
          >
          <!-- <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown> -->

        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  methods: {
    checkRoute(url) {
      return this.$route.path == url ? true : false;
    },
  },
};
</script>

<style>
</style>