<template>
  <div>
    <div class="card">
      <b-overlay :show="showOverlay" rounded="sm">
        <div class="card-body shadow">
          <b-form-file
            class="shadow"
            v-model="fileInput"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
            multiple
            accept=".jpg, .png, .jpeg "
          ></b-form-file>
          <div class="row mt-3">
            <div class="col-4">
              <b-button block @click="resetFile()">
                <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
                Reset</b-button
              >
            </div>
            <div class="col-4">
              <b-button
                variant="primary"
                block
                @click="submit()"
                :disabled="fileInput == null"
              >
                <b-icon icon="upload" aria-hidden="true"></b-icon>
                Upload</b-button
              >
            </div>
            <div class="col-4">
              <b-button
                variant="success"
                block
                @click="download()"
                :disabled="is_download"
              >
                <b-icon icon="download" aria-hidden="true"></b-icon>
                Download</b-button
              >
            </div>
          </div>
        </div>
        <template #overlay>
          <div class="text-center">
            <b-icon
              icon="cloud-arrow-down-fill"
              font-scale="5"
              variant="info"
              animation="throb"
            ></b-icon>
            <p id="cancel-label">Prosesing</p>
          </div>
        </template>
      </b-overlay>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fileInput: null,
      maxProces: 100,
      showOverlay: false,
      is_download: true,
      fileName: null,
    };
  },
  mounted() {},
  methods: {
    resetFile() {
      this.fileInput = null;
      this.is_download = true;
    },
    submit() {
      if (this.fileInput) {
        this.showOverlay = true;
        const formData = new FormData();
        for (let file of this.fileInput) {
          formData.append("images[]", file, file.name);
        }
        this.$axios
          .$post("/background/remove/u2net", formData)
          .then((response) => {
            if (response.status == 200) {
              this.showOverlay = false;
              this.is_download = false;
              this.fileName = JSON.parse(response.filename);
            }
          });
      }
    },
    download() {
      console.log(this.fileName);
      if (this.fileName) {
        this.fileName.forEach((element) => {
					window.open("http://0.0.0.0:5000/background/download/"+element,"-blank")
				});
      }
    },
  },
};
</script>

<style>
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Pilih File";
}
</style>