<template>
  <!-- Call to Action Well -->
  <div class="card text-white bg-info shadow my-3 py-4 text-center">
    <div class="card-body">
      <h4 class="font-weight-ligth">Info Penting</h4>
      <p class="text-white m-0">
        Editania akan melakukan semua proses manipulasi foto atau video pada
        Browser anda atau pada komputer yang anda miliki. Proses ini akan
        memakan sedikit waktu untuk mempersiapkan model. Cepat atau lambat
        proses tersebut juga dipengaruhi dari sepesifikasi perangkat keras pada
        komputer anda.
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>