<template>
  <div>
    <b-form-file class="shadow"
      v-model="fileInput"
      placeholder="Choose a file or drop it here..."
      drop-placeholder="Drop file here..."
    ></b-form-file>
		<hr>
    <!-- <div class="mt-3">Selected file: {{ fileInput ? fileInput.name : "" }}</div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      fileInput: null,
    };
  },
};
</script>

<style>
</style>