<template>
  <!-- Page Content -->
  <div class="container">
    <Main />
    <InfoBaner />
    <Advantages />
  </div>
</template>

<script>
import Main from "~/components/Home/MainComponent.vue";
import InfoBaner from "~/components/Home/InfoBanerComponent.vue";
import Advantages from "~/components/Home/AdvantagesComponent.vue";

export default {
  components: {
    Main,
    InfoBaner,
    Advantages,
  },
	data() {
    return {
      title: "Editania | Home",
    };
  },
  head() {
    return {
      title: this.title,
    };
  },
};
</script>

<style>
</style>
