<template>
  <div class="card shadow mb-5 card-content">
    <div class="card-body">
      <label class="sr-only" for="inline-form-input-username">Search</label>
      <b-input-group class="mb-2">
        <template #prepend>
          <b-button
            variant="info"
            size="sm"
            class="my-2 my-sm-0"
            type="submit"
            disabled
            ><b-icon icon="search"></b-icon
          ></b-button>
        </template>
        <b-form-input
          id="inline-form-input-username"
          placeholder="Cari disini"
        ></b-form-input>
      </b-input-group>
      <hr />
      <b-card-group columns>
        <b-card
          title="Hapus Background"
          img-src="/result/kacamata.png"
          img-alt="Image"
          img-top
          style="max-width: 20rem"
          class="mb-2 shadow"
          @click="toPage('/remove-bg')"
        >
          <b-card-text class="text-justify">
            Menghilangkan background pada foto atau video dan melakukan proses
            edit background tersebut.
          </b-card-text>
        </b-card>
        <b-card
          title="Menggambar Potret Manusia"
          img-src="/result/portrait1.png"
          img-alt="Image"
          img-top
          style="max-width: 20rem"
          class="mb-2 shadow"
          @click="toPage('/human-portrait')"
        >
          <b-card-text class="text-justify">
            Mengubah gambar potret manusia dari file foto manusia yang anda
            berikan.
          </b-card-text>
        </b-card>
        <b-card
          title="Hapus Background Foto Manusia"
					img-src="/result/human1.png"
          img-alt="Image"
          img-top
          style="max-width: 20rem"
          class="mb-2 shadow"
          @click="toPage('/human-remove-bg')"
        >
          <b-card-text class="text-justify">
            Menghilangkan background pada foto dan video yang terdapat object
            manusia.
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    toPage(url) {
      window.location.href = `/feature${url}`;
    },
  },
};
</script>

<style>
</style>