<template>
  <!-- Page Content -->
  <div class="container">
    <InfoBaner />
    <Processing />
  </div>
</template>

<script>
import InfoBaner from "~/components/Feature/InfoBanerComponent.vue";
import Processing from "~/components/Feature/RemoveBg/ProcessingComponent.vue";

export default {
  components: {
    InfoBaner,
    Processing,
  },
  data() {
    return {
      title: "Editania | Remove Background",
    };
  },
  head() {
    return {
      title: this.title,
    };
  },
};
</script>

<style>
</style>