<template>
  <!-- Page Content -->
  <div class="container">
    <InfoBaner />
    <Feature />
  </div>
</template>

<script>
import InfoBaner from "~/components/Features/InfoBanerComponent.vue";
import Feature from "~/components/Features/FeatureComponent.vue";

export default {
  components: {
    InfoBaner,
    Feature,
  },
  data() {
    return {
      title: "Editania | Features",
    };
  },
  head() {
    return {
      title: this.title,
    };
  },
};
</script>

<style>
</style>