<template>
  <div class="card shadow mb-5 card-content">
    <div class="card-body">
      <h2 class="font-weight-bold text-center mb-4">Kenapa pakai Editania</h2>
      <div class="row mb-4">
        <div class="col-md-4 col-sm-12">
          <div class="card text-center h-100 shadow">
            <div class="card-body">
              <span class="text-info" style="font-size: 100px">
                <b-icon icon="wallet"> </b-icon>
              </span>
              <h4 class="card-title">Gratis</h4>
              <p class="card-text text-justify">
                Anda dapat menggunakan semua fitur yang ada pada Editania secara
                gratis tanpa di pungut biaya apapun.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-center h-100 shadow">
            <div class="card-body">
              <span class="text-info" style="font-size: 100px">
                <b-icon icon="aspect-ratio"> </b-icon>
              </span>
              <h4 class="card-title">Tanpa Batasan</h4>
              <p class="card-text text-justify">
                File hasil pengolahan akan memliki resolusi dan kualitas sama
                dengan file awal yang anda berikan atau (Full Resolution).
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-center h-100 shadow">
            <div class="card-body">
              <span class="text-info" style="font-size: 100px">
                <b-icon icon="shield-check"> </b-icon>
              </span>
              <h4 class="card-title">Privasi Pengguna</h4>
              <p class="card-text text-justify">
                Seluruh file pribadi yang anda berikan hanya akan diproses pada
                Browser (Client Side), tanpa ada proses pengiriman ke server
                atau penyimpanan lainnya.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>