<template>
  <div class="card shadow mb-5 card-content my-3">
    <div class="card-body">
      <h2 class="font-weight-bold text-center mb-4">Hasil Editania</h2>
      <v-gallery
        :images="gallery_images"
        :index="gallery_index"
        @close="index = null"
      />
      <b-img
        v-for="(image, imageIndex) in gallery_images"
        v-bind="mainProps"
        :key="imageIndex"
        @click="gallery_index = imageIndex"
        :src="image"
        :style="{
          height: '200px',
        }"
      ></b-img>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      gallery_images: [
        "https://dummyimage.com/800/ffffff/000000",
        "https://dummyimage.com/1600/ffffff/000000",
        "https://dummyimage.com/1280/000000/ffffff",
        "https://dummyimage.com/400/000000/ffffff",
      ],
      // lightbox_visible: false,
      mainProps: {
        class: "col-md-6 col-sm-12 my-3",
      },
      gallery_index: null,
    };
  },
  methods: {},
};
</script>

<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}
</style>