<template>
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        background="#ababab"
        img-width="1024"
        img-height="480"
        style="text-shadow: 1px 1px 2px #333"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <b-carousel-slide
          img-src="/before/cup.jpg"
        ></b-carousel-slide>

				<b-carousel-slide
          img-src="/result/cup.png"
        ></b-carousel-slide>

				<b-carousel-slide
          img-src="/before/kacamata.jpg"
        ></b-carousel-slide>

				<b-carousel-slide
          img-src="/result/kacamata.png"
        ></b-carousel-slide>

      </b-carousel>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <b-img class="mb-2" src="~/static/images/editania_text.png" height="70">
      </b-img>
      <p>
        Editania adalah aplikasi yang berguna untuk melakukan manipulasi
        terhadap foto atau video secara online dan gratis.
      </p>
      <a class="btn btn-info shadow" to="/features"
        >Mulai Sekarang!
        <b-icon icon="play-circle-fill" variant="light"></b-icon
      ></a>
    </div>
    <!-- /.col-md-4 -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
};
</script>

<style>
</style>