<template>
  <!-- Page Content -->
  <div class="container">
    <About />
    <Support />
    <Reference />
  </div>
</template>

<script>
import About from "~/components/About/AboutComponent.vue";
import Support from "~/components/About/SupportComponent.vue";
import Reference from "~/components/About/ReferenceComponent.vue";

export default {
  components: {
    About,
    Support,
    Reference,
  },
  data() {
    return {
      title: "Editania | About",
    };
  },
  head() {
    return {
      title: this.title,
    };
  },
};
</script>

<style>
</style>