<template>
  <div>
    <b-card title="Tentang Editania" class="shadow my-3">
      <b-card-text>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos iure neque
        quidem sint qui explicabo vitae, libero eaque fugiat temporibus voluptas
        eveniet, deserunt, placeat quam esse iste earum minima? Delectus
        pariatur exercitationem perspiciatis, ullam quisquam blanditiis itaque
        quasi explicabo iusto facere, ab hic nobis. Delectus, aperiam similique
        quam esse dicta aliquid laboriosam quibusdam rem.
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>