<template>
  <b-card title="Support" class="shadow">
    <b-card-text>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </b-card-text>
		<ul>
			<li><a href="#">Lorem ipsum dolor sit.</a></li>
			<li><a href="#">Lorem ipsum dolor sit.</a></li>
			<li><a href="#">Lorem ipsum dolor sit.</a></li>
		</ul>
  </b-card>
</template>

<script>
export default {};
</script>

<style>
</style>